auto-save-list/
url/
SessionDesktop.el
elpa/
recentf
eshell/
.emacs.desktop
places
projectile*
recentf~
bookmarks
config.el
custom.el
.emacs.desktop.lock
games/
/ido.last
network-security.data
/backups/!home!je22688!.emacs.d!custom.el~
/ac-comphist.dat
/company-statistics-cache.el
/#%2Aediff-merge%2A#55609xHW#
network-security.data
